{# {% load static %}#}
{#    <section class="hero-section">#}
{#        <div class="hero-items owl-carousel">#}
{#            <div class="single-hero-items set-bg" data-setbg="{% static '' %}img/hero-1.jpg">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-5">#}
{#                            <span></span>#}
{#                            <h1></h1>#}
{#                            <p></p>#}
{#                            <a href="#" class="primary-btn">Shop Now</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="off-card">#}
{#                        <h2>Sale <span>50%</span></h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!-- Hero Section End -->#}

